@use '@styles/variables' as styles;

.text {
  color: inherit;

  &__view {
    &__title {
      font-size: 44px;
      font-weight: 700;
    }

    &__button {
      font-size: 18px;
      font-weight: 400;
    }

    &__p-20 {
      font-size: 20px;
    }

    &__p-18 {
      font-size: 18px;
    }

    &__p-16 {
      font-size: 16px;
    }

    &__p-14 {
      font-size: 14px;
    }
  }

  &__weight {
    &__normal {
      font-weight: 400;
    }

    &__medium {
      font-weight: 500;
    }

    &__bold {
      font-weight: 700;
    }
  }

  &__color {
    &__primary {
      color: styles.$text-primary;
    }

    &__secondary {
      color: styles.$text-secondary;
    }

    &__accent {
      color: styles.$text-accent;
    }
  }

  &__multiline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}