@use '@styles/variables' as styles;

.productsWrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.info {
    margin: 0 auto;
    text-align: center;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
        margin: 0;
    }

    .content {
        margin: 0;
    }
}

.dropDown {
    max-width: 300px;

    @media (max-width: 768px) {
        max-width: none;
    }
}

.products {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.total {
    display: flex;
    align-items: center;
    gap: styles.$space-m;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: styles.$space-m;
}

.item {
    flex: 0 33.33%;
    max-width: 30%;
    min-width: 300px;
}

.pagination {
    margin: 0 auto;
}

.searchWrapper {
    display: flex;
    flex-direction: column;
    gap: styles.$space-m;
}

.search {
    display: flex;
    gap: styles.$space-xl;
}

.button {
    min-width: 130px;

    @media (max-width: 768px) {
        display: none;
    }
}

.loading,
.error,
.noResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: styles.$space-xl;
    gap: styles.$space-m;
}

.error {
    button {
        margin-top: styles.$space-m;
    }
}